body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: $bodyColor ;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }